/* Responsive */

/* #988 ------------------------------------------------------------------------------------------------ */
@media (max-width: 988px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 13vh;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.819);
        transform: translateY(-100%);
        transition: transform 0.6s ease-in-out;
        z-index: 1000;
        opacity: 0;
        pointer-events: none;
        max-height: 87vh;
        overflow-y: auto;
    }

    .nav-links.active {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
    }

    .nav-links a {
        background-color: rgba(0, 0, 0, 0.337);

        box-shadow: 0 0 5px rgba(255, 255, 255, 0.561);
        width: 100%;
        border: none;
        box-shadow: none;
    }

    .dropdown-menu {
        position: static;
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

/* -----------------------------------------------------------------------------------------------------*/
/* #768 -  tablet ------------------------------------------------------------------------------------- */
@media (max-width: 768px) {
    h1.slide-in-left {
        font-size: 1rem;
        position: absolute;
        top: 10px;
        left: 10px;
        margin: 0;
      }


    .bottom-right h4 {
      font-size: 1rem;
    }
  
    .bottom-right p {
      font-size: 0.9rem;
      
    }

   

    footer {
        padding: 10px;
        font-size: 4px !important;
        box-sizing: border-box;

      }

  }

 

  
  
@media (max-width: 768px) {
   
    .hero-content h1 {
        font-size: 26px;
    }

    .hamburger {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 13vh;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.819);
        transform: translateY(-100%);
        transition: transform 0.4s ease-in-out;
        z-index: 1000;
        opacity: 0;
        pointer-events: none;
        max-height: 87vh;
        overflow-y: auto;
    }

    .nav-links.active {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
    }

    .nav-links a {

        width: 100%;
        border: none;
        box-shadow: none;
    }

    .dropdown-menu {

        position: static;
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0.567);
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .storia-cont {
        font-size: 0.9em;
        padding: 10px;
    }

    .immagini {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 3px auto;
    }

    .immagini-2 {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
    }


    .sez-cont-2 {
        padding: 20px;
        font-size: 16px;
    }

    .sez-cont-2 ul {
        padding-left: 16px;
    }
    .logo img{
        height: 70px;
    }
}

/* -----------------------------------------------------------------------------------------------------*/
/* 480 - telefono --------------------------------------------------------------------------------------*/
@media screen and (max-width: 480px) {
    
    .logo{
        height: 70px;
    }
    footer p {
        
        font-size: 12px !important;
        box-sizing: border-box;

      }

     
    .contatti-info {   
        text-align: center;
        justify-content: center;
        align-items: center;
       
    }
    .contatti-info h2 {
        font-size: 30px;
      
    }

    .contatti-info .contatto-riga {   font-size: 18px;

    }

    #sez-contatti {
        padding: 10px !important;
        margin: 5px auto !important;
        
    }

    .bottom-right{
        margin: 0;
        margin-right: -10px !important;
    }
    .hero {
        height: 46vh;
    }
    .mappa-text {
        margin-top: 20px;
    
    }
    .mappa-text p {
        font-size: 16px; /* Rimpicciolisce il testo */
        
        padding: 10px;
      }

      .mappa-text h2 {
        font-size: 30px; /* Rimpicciolisce il testo */
        padding: 10px;
      }

      .sez-contatti {
        font-size: 14px;
        padding: 20px auto;
      }

    #sez-mappa {
        padding: 10px;

        
    }

    .carousel-container {
        display: none;
    }

    .sez-cont-2 {
        margin-bottom: 10vh;
    }

    #disegno {
        font-size: 20px;
        text-align: center;
    }
    #personalizza {
        font-size: 20px;
    }
    #prototipiid {
        font-size: 20px;
    }
    #ricambisticaid {
        font-size: 20px;
    }

    .immagini {
        flex-direction: column;
        padding: 5px;
        gap: 10px;
        width: 90%;
        box-shadow: none;
      }
    
      .immagini img {
        width: 80%;
        height: auto;
        max-width: 100%;
      }

      .immagini-2 {
        flex-direction: column;
        padding: 5px;
        gap: 10px;
        width: 90%;
        box-shadow: none;
      }
    
      .immagini-2 img {
        width: 80%;
        height: auto;
        max-width: 100%;
      }

    .sez-cont-1 {
        flex-direction: column;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        gap: 15px;
        width: 95%;
      }
   p {
    font-size: 16px;
   }
    .storia-text {
        padding: 20px !important;
        font-size: 15px;
    }

    .storia-text-2 {
        padding: 20px !important;
        font-size: 15px;

    }

    .hamburger {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 13vh;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.819);
        transform: translateY(-100%);
        transition: transform 0.4s ease-in-out;
        z-index: 1000;
        opacity: 0;
        pointer-events: none;
        max-height: 87vh;
        overflow-y: auto;
    }

    .nav-links.active {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
    }

    .nav-links a {

        width: 100%;
        border: none;
        box-shadow: none;
    }

    .dropdown-menu {

        position: static;
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0.567);
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }
     
    .sez-cont-2 {
        padding: 15px;
        font-size: 15px;
    }

    .sez-cont-2 li {
        margin-bottom: 6px;
    }
    .hero-content h1 {
        font-size: 18px !important;
    }

    .hero-content {
        padding: 5px auto;
    }
    .slide-in-left {
        padding: 5px auto;
      }
    
}


h1.slide-in-left {
    font-size: clamp(1.5rem, 5vw, 3rem);
  }
