/* Responsive */

/* #988 ------------------------------------------------------------------------------------------------ */
@media (max-width: 988px) {

    .logo img {
        height: 70px;
    }
    .hamburger {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 13vh;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.819);
        transform: translateY(-100%);
        transition: transform 0.6s ease-in-out;
        z-index: 1000;
        opacity: 0;
        pointer-events: none;
        max-height: 87vh;
        overflow-y: auto;
    }

    .nav-links.active {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
    }

    .nav-links a {
        background-color: rgba(0, 0, 0, 0.337);

        box-shadow: 0 0 5px rgba(255, 255, 255, 0.561);
        width: 100%;
        border: none;
        box-shadow: none;
    }

    .dropdown-menu {
        position: static;
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

/* -----------------------------------------------------------------------------------------------------*/
/* #768 -  tablet ------------------------------------------------------------------------------------- */
@media (max-width: 768px) {
    h1.slide-in-left {
        font-size: 1rem;
        position: absolute;
        top: 10px;
        left: 10px;
        margin: 0;
    }


    .bottom-right h4 {
        font-size: 1rem;
    }

    .bottom-right p {
        font-size: 0.9rem;

    }



    footer {
        padding: 10px;
        font-size: 4px !important;
        box-sizing: border-box;

    }

}





@media (max-width: 768px) {

    .hero-content h1 {
        font-size: 26px;
        padding: 12px 24px;
    }

    .hamburger {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 13vh;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.819);
        transform: translateY(-100%);
        transition: transform 0.4s ease-in-out;
        z-index: 1000;
        opacity: 0;
        pointer-events: none;
        max-height: 87vh;
        overflow-y: auto;
    }

    .nav-links.active {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
    }

    .nav-links a {

        width: 100%;
        border: none;
        box-shadow: none;
    }

    .dropdown-menu {

        position: static;
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0.567);
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .storia-cont {
        font-size: 0.9em;
        padding: 0px;
    }

    .immagini {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .immagini-2 {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }


    .sez-cont-2 {
        padding: 20px;
        font-size: 16px;
    }

    .sez-cont-2 ul {
        padding-left: 16px;
    }

    .logo img {
        height: 70px;
    }

    #parco-macchine {
        width: 95%;
        padding: 20px auto;
    }
}

/* -----------------------------------------------------------------------------------------------------*/
/* 480 - telefono --------------------------------------------------------------------------------------*/
@media screen and (max-width: 480px) {

    .logo {
        height: 70px;
    }

    footer p {

        font-size: 12px !important;
        box-sizing: border-box;

    }



    .contatti-info {
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 5px !important;

    }

    .contatti-info h2 {
        font-size: 27px;

    }

    .contatto-riga {
        font-size: 15px !important;

    }

    #sez-contatti {
        width: 95%;
        padding: 12px !important;
        margin: auto !important;
        padding-top: 21px !important; 
        margin-bottom: 25vh !important;

    }

    .bottom-right {
        margin: 0;
        margin-top: 6px !important;
        margin-right: -30px !important;

    }

    .bottom-right h4 {

        margin-top: 6px !important;

    }

    .hero {
        height: 47vh;
    }

    .mappa-text {
        margin-top: 20px;
        margin-bottom: 0px;
        min-height: 20vh;

    }

    .mappa-text p {
        font-size: 16px;
        /* Rimpicciolisce il testo */
        margin-top: -20px !important;
        padding: 10px;
    }

    .mappa-text h2 {
        font-size: 27px;
        /* Rimpicciolisce il testo */
        padding: 10px;
        margin: 1px auto;
        margin-top: -5px !important;
    }

    .sez-contatti {
        font-size: 14px;
        padding: 20px auto;
    }

    #sez-mappa {
        padding: 0px;
width: 95%;

}

.mappa-text p {
line-height: 1.5;
}
    
.contatti-form button {
    align-items: center !important;
    justify-content: center !important;
    width: 66%;
    margin: auto;
    padding: 9px;
}


    h5 {
        padding-left: 0px;
        text-align: center;
    }

    .carousel-container {
        display: none;
    }

    .sez-cont-2 {
        margin-bottom: 10vh;
    }

    #disegno {
        font-size: 20px;
        text-align: center;
    }

    #personalizza {
        font-size: 20px;
    }

    #prototipiid {
        font-size: 20px;
    }

    #ricambisticaid {
        font-size: 20px;
    }

    .immagini {
        flex-direction: column;
        padding: 5px;
        gap: 10px;
        width: 90%;
        box-shadow: none;
    }

    .immagini img {
        width: 80%;
        height: auto;
        max-width: 100%;
    }

    .immagini-2 {
        flex-direction: column;
        padding: 5px;
        gap: 10px;
        width: 90%;
        box-shadow: none;
    }

    .immagini-2 img {
        width: 80%;
        height: auto;
        max-width: 100%;
    }

    .sez-cont-1 {
        flex-direction: column;
        padding: 0;
        margin-top: 15px;
        margin-bottom: 15px;
        gap: 15px;
        width: 95%;
    }

    p {
        font-size: 16px;
    }

    .storia-text {
        padding: 20px !important;
        font-size: 15px;
    }

    .storia-text-2 {
        padding: 20px !important;
        font-size: 15px;

    }

    .mappa {
        padding: 15px;
        gap: 0px;

    }

    .hamburger {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 13vh;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.819);
        transform: translateY(-100%);
        transition: transform 0.4s ease-in-out;
        z-index: 1000;
        opacity: 0;
        pointer-events: none;
        max-height: 87vh;
        overflow-y: auto;
    }

    .nav-links.active {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
    }

    .nav-links a {

        width: 100%;
        border: none;
        box-shadow: none;
    }

    .dropdown-menu {

        position: static;
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0.567);
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .sez-cont-2 {
        padding: 15px;
        font-size: 15px;
    }

    .sez-cont-2 li {
        margin-bottom: 6px;
    }

    .hero-content h1 {
        font-size: 18px !important;
    }

    .hero-content {
        padding: 5px auto;
    }

    .slide-in-left {
        padding: 5px auto;
    }

}


h1.slide-in-left {
    font-size: clamp(1.5rem, 5vw, 3rem);
}
